.ItemInfo {
  font-style: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 40px 40px 0 40px;
}

.ItemInfo > p {
  margin: 0 0 20px 0;
}
.ItemInfo-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
p > strong {
  margin-left: 5px;
}
.error {
  display: flex;
  justify-content: center;
}